{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
<div class="container">
    <p>
        {{ .Content }}
    </p>
</div>

<div class="row bg-primary py-2 text-center g-0 fs-4">
    <div class="col">
        Go Struct
    </div>
    <div class="col">
        TypeScript
    </div>
</div>
<div class="row g-0 flex-grow-1">
    <div class="col-6">
        <div id="src" class="w-100 h-100"></div>
    </div>
    <div class="col-6">
        <div id="dst" class="w-100 h-100"></div>
    </div>
</div>
{{ end }}