<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/theme/dracula.min.css" rel="stylesheet">

    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link href=https://use.fontawesome.com/releases/v5.13.1/css/all.css rel=stylesheet>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.min.css" integrity="sha512-RhnuJxgda82cBylRysVDqdpwnBcSkMzxz1+BxGwBPNMzBJlvaOjHz7P2kXELC0bdNxazsNSyJb7KAww0T5iUdQ==" crossorigin="anonymous" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Params.description }}">
</head>

<body>
    <header class="site-header shadow-sm">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">

                <a class="navbar-brand" href="/">
                    Golang Struct to TypeScript Interface
                </a>

                <div>
                    <a href="https://github.com/StirlingMarketingGroup/go2ts"><i class="fab fa-github"></i> View on Github</a>
                </div>

            </div>
        </nav>
    </header>

    <main id="main" class="d-flex flex-column">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </main>

    <footer id="footer" class="bg-dark text-white text-center">
        <div class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Copyright -->
                        <p class="mb-1 mb-md-0">
                            <b>© <script>document.write(new Date().getFullYear())</script>&nbsp;Stirling Marketing Group</b>
                            <span class="text-white-50">All Rights Reserved</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    {{ $js := resources.Get "js/wasm_exec.js" | fingerprint }}
    <script src="{{ $js.Permalink }}"></script>
    <script>
    const go = new Go();
    WebAssembly.instantiateStreaming(fetch("lib.wasm"), go.importObject).then((result) => {
        go.run(result.instance);
    });
    </script>

    <script>
    delete process; // yeet
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/loader.min.js" integrity="sha512-+8+MX2hyUZxaUfMJT0ew+rPsrTGiTmCg8oksa6uVE/ZlR/g3SJtyozqcqDGkw/W785xYAvcx1LxXPP+ywD0SNw==" crossorigin="anonymous"></script>
    {{ $js := resources.Get "js/app.js" | fingerprint }}
    <script src="{{ $js.Permalink }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJQYD6K7L7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DJQYD6K7L7');
    </script>
</body>

</html>